body {
  width: 95%;
  margin: 0 auto;
}

body a {
  color: purple;
}

header a {
  color: white;
}

.home-name {
  color: blue;
  text: 20px;
}


#content {
  overflow: auto;
}

#nav, #feature, #footer {
  margin: 0%;
}

.color-banner {
  background-repeat: repeat-x;
}

.logo {
  height: 100px;
  position: absolute;
  border: 5px solid white;
  border-radius: 50%;
  margin-left: 4rem;
  margin-top: -4rem;
}

.column1, .column2, .column3 {
  border: 1px solid black;
  width: 30%;
  height: 100%;
  float: left;
  margin: 1%;
}

.column3 {
  margin-right: 0%
}

li {
  display: inline;
  padding: 3em;
}

#nav, #footer {
  background-color: purple;
  padding: 0.5em 0;
  color: white;
}

#feature, .article {
  height: 20em;
  margin-bottom: 1em;
  background-color: #efefef;
  text-align: center;
}

header, main, footer {
  box-sizing: border-box;
  border: 1px solid black;
}

footer p {
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  font-family: arial;
  color: white;
  padding-left: 45%;
}

.social-media {
    height: 1%;
    right: 0;
    bottom: 0;
    left:0;
    padding: 1rem;
    text-align: center;
  }

.copyright {
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  font-family: arial;
  color: white;
  padding-left: 5%;
}

.social-media img {
  height: 10%;
  padding-left: 3%;
}
